/*
Color Palette:
background color:  
font color:        
secondary color:   
tertiary color:    
*/

}
header {
    background-color: Blue;
    margin: 50px;
    border: 5px solid black;
    padding: 25px;
}

h1 {
    background-color: crimson;
    margin: 0;
    Color Palette: 
    background color:  #3A3845
    font color: #F7CCAC       
    secondary color:  #C69B7B 
    tertiary color:   #826F66
    */
} 

h4 {
    background-color: lightGreen;
    margin: 0;
}   

h6 {
    background-color: yellow;
    margin: 0;
} 

header { 
    margin: 0 4rem;
    latter spacing: 0.8rem;
    text-align: center;
    border-bottom: 1px solid #826F66;
    border-right: 1px solid #826F66;
    border-left: 1px solid #826F66;
    padding: 0.5rem;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
    text-transformation: uppercase;
    
body {
    background-color: #3A3845;
    color:  #F7CCAC;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

html { 
    font-size: 62.5%;    /* Default font size is 16px - 62.5% of 16 is 10px - 1 rem (relative unit) now will equivalent to 10px} */
     

    
    
    